@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Luxurious+Roman&display=swap');
body {
    text-align: center;
    background-color: black;
    font-family: 'Luxurious Roman', cursive;
    color:rgb(161, 155, 120);
}

h1 {
    color: rgb(241, 206, 153);
    text-shadow: 0px 0px 2px rgb(249, 250, 171);
}

div.cont {
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
    justify-content: center;
}

div.k {
    color: rgb(5, 35, 36);
    background-color: cornsilk;
    text-align: left;
    box-shadow: 1px 1px 3px inset black;
    border-radius: 7px;
    padding: 15px;
    margin: 5px;
    width: 320px;
    height: 150px;
}

pre {
    font-family: 'Cutive Mono', monospace;
    font-size: 12px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(161, 155, 120);
    cursor: pointer;
}

a:hover {
    color: chocolate;
}